* {
   font-family: 'Inter', sans-serif;
}

/* border container */
.border-container {
   border-top: 5px solid #17a2b8;
}

/* Efek hover untuk link menu */
.sidebarWrapper ul li a {
  transition: all 0.3s ease;
  border-radius: 5px;
}

.sidebarWrapper ul li a:hover {
  font-size: 1rem;
  padding: .2rem 0 .2rem .5rem;
  border-left: 5px solid #17a2b8;
  background-color: rgba(202, 202, 202, 0.39);
  text-decoration: none;
  transform: translateX(2px);
}

.sidebarWrapper ul li a img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.sidebarWrapper ul li a:hover img {
  transform: scale(1.1);
  opacity: 1;
}

/* Logout Button */
.sidebarWrapper .logout:hover {
  padding: .2rem 0 .2rem .4rem;
  border-left: 5px solid #dc3545;
  background-color: rgba(255, 0, 0, 0.39);
  border-radius: 5px;
  transition: all 0.3s ease;
}
