* {
  font-family: "Inter", sans-serif;
}

/* HOMEPAGE ANIMATION */
.collapse .navbar-nav .nav-link {
   transition: transform 0.3s ease;
}

.collapse .navbar-nav .nav-link:hover {
  transform: translateX(-5px);
  font-weight: bold;
}

.card-box {
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    background-color: rgba(58, 68, 80, 0.34);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 40vw;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.card-box:hover {
  transform: translateY(-4px);
}

.support-card-box {
    backdrop-filter: blur(20px) saturate(180%);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
    background-color: rgba(58, 68, 80, 0.34);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    width: 40vw;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.support-card-box:hover {
  transform: translateY(-4px);
}


/* SIDEBAR ANIMATION */
/* border container */
.border-container {
  border-top: 5px solid #17a2b8;
}

/* Efek hover untuk link menu */
.sidebarWrapper ul li a {
  transition: all 0.3s ease;
  border-radius: 5px;
}

.sidebarWrapper ul li a:hover {
  font-size: 1rem;
  padding: 0.2rem 0 0.2rem 0.5rem;
  border-left: 5px solid #17a2b8;
  background-color: rgba(202, 202, 202, 0.39);
  text-decoration: none;
  transform: translateX(2px);
}

.sidebarWrapper ul li a img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.sidebarWrapper ul li a:hover img {
  transform: scale(1.1);
  opacity: 1;
}

/* Logout Button */
.sidebarWrapper .logout:hover {
  padding: 0.2rem 0 0.2rem 0.4rem;
  border-left: 5px solid #dc3545;
  background-color: rgba(255, 0, 0, 0.39);
  border-radius: 5px;
  transition: all 0.3s ease;
}
